<html lang="en">
@model API_Pokemon.Models.RootObject
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon catalog</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
          rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <main class="catalog" id="catalog">
        <header class="catalog__header">
            <h1 class="catalog__heading">
                <span class="catalog__heading--primary">Pokemon</span> catalog
            </h1>

        </header>
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "catalog", InsertionMode = InsertionMode.ReplaceWith }))
        {

            <section class="catalog__content" id="cards" data-content>
                @for (int i = 0; i < @ViewBag.Name; i++)
                {

                    <article class="card" data-card>
                        <header class="card__header">
                            <h2 class="card__heading">
                                @Model.cards.ElementAt(i).name
                            </h2>
                            <p class="card__number">Nr:    @Model.cards.ElementAt(i).number</p>
                        </header>

                        <img class="card__image" src="@Model.cards.ElementAt(i).imageUrl" alt="">
                        <p class="card__description"><span class="bold">Supertype:</span> @Model.cards.ElementAt(i).supertype</p>
                        <p class="card__description "><span class="bold">Subtype:</span>@Model.cards.ElementAt(i).subtype</p>
                        <p class="card__description "><span class="bold">Rarity:</span> @Model.cards.ElementAt(i).rarity</p>
                    </article>
                }
            </section>
            <footer class="catalog__footer">
                <button class="catalog__button" data-button id="click">Load More</button>

                <div class="catalog__loader hide" data-loader></div>
            </footer>

        }

    </main>

    <script src="./js/index.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>